# Get your key from https://console.groq.com
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxx
PORT=8787

# Optional: Get your token from https://indiankanoon.org/
INDIAN_KANOON_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxx
